# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
venv/
env/
.env


# --- VS Code ---
.vscode/
*.code-workspace

# --- Mac OS ---
.DS_Store

# --- RNBO / Max ---
# (Optional) If you want to ignore large exports and only keep source
# static/export/*.json 
# (Keep this commented out if you want to deploy the export to GitHub)

# --- Flask ---
instance/
.webassets-cache